body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#hero{
  background-image: url(../image/bg-image-1.jpg);
  background-position: 58% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.hero-text p{
    padding-top: 69px;
    color: #aeb1be;
    padding-bottom: 16px;
    font-weight: bold;
}


.hero-text h3{
    font-weight: 300;
    font-size: 28px;
    line-height: 25px;
    color: #29293a;
    padding-bottom: 25px;
}

.hero-wrapper-1{

}
.c2a-1 a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #42c63f;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
}
.c2a-2 a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #aeb1be;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}
.hero-wrapper-2 {
    display: flex;
    padding-bottom: 58px;
}
.font{
    margin: 3px;
}
.font a{

}
.font i{
    padding: 10px;
    display: block;
    font-size: 28px;
    background: #aeb1be;
    border-radius: 50%;
}


#services{

}
.section-header h2{
    text-align: center;
    padding-top: 41px;
    font-size: 28px;
    padding-bottom: 21px;
    color: #29293a;
}

.section-header p{
    padding: 7px;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    color: #5e5e63;
    margin-bottom: 63px;
}
.card-wrapper{

}
.card-wrapper-1{
    margin: 60px 4px;
    border: 1px solid #efeaea;
}
.icon-wrapper{
 text-align: center;
}
.icon-wrapper i{
    font-size: 51px;
    display: inline-block;
    color: white;
    background: #42c63f;
    padding: 17px;
    border-radius: 50%;
    position: relative;
    bottom: 41px;
    box-shadow: inset green 0px 0px 1px 3px;
    
}
.card-wrapper-1 h3{
    text-align: center;
    padding: 16px;
    color: #29293a;
}
.card-wrapper-1 p{
    font-size: 17px;
    text-align: center;
    line-height: 29px;
    font-weight: 300;
    color: #5e5e63;
    padding: 30px;
    padding-top: 5px;
}

#experience{
    background: #29293a;
}
.experience-header h2{
    text-align: center;
    font-size: 26px;
    padding-top: 51px;
    color: white;
    margin-bottom: 51px;
    font-weight: 400;
    line-height: 33px;
}
.experience-wapper-1{
  
}
.experience-card-1{
    border-left: solid 1px #fff;
    padding-left: 14px;
    position: relative;
}
.experience-card-1 img{
    padding-bottom: 11px;
}
.experience-card-1 h6{
    margin-bottom: 20px;
    padding-top: 7px;
    font-size: 17px;
    position: relative;
    color: #fff;
}
.experience-card-1 h6:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    left: -19px;
    top: 9px;
}
.experience-card-1 h4{
    padding: 5px;
    font-size: 17px;
    text-align: left;
    font-weight: 500;
    line-height: 23px;
    color: #ffffff;
}
.experience-card-1 p{
    padding: 7px;
    text-align: left;
    padding-top: 11px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    color: #aeb1be;
    padding-bottom: 30px;
}

#about{
    background: #f3f3f9;
}
.about-wrapper{

}
.aboutme h3{
    color: #29293a;
    padding-top: 50px;
    font-size: 21px;
    font-weight: 400;
    padding-bottom: 24px;
}

.aboutme p{
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    color: #5e5e63;
    padding: 2px;
}
.aboutme a{
    display: inline-block;
    padding: 31px;
    text-decoration: none;
    color: white;
    background: #43c63f;
    font-weight: bolder;
    padding-bottom: 14px;
    padding-top: 16PX;
    border-radius: 4px;
    margin-top: 22px;
    margin-left: 6px;
}
.myskills h3{
    padding-top: 57px;
    padding-bottom: 336px;
}
.awards h3{
    font-size: 21px;
    color: #29293a;
    font-weight: 400;
    padding-bottom: 5px;
}
.award-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 25px;
}
.award-card{
    flex-basis: 43%;
    text-align: center;
    margin: 20px 6px;
    background: white;
    border-radius: 5px;
    padding-top: 36px;
    padding-bottom: 47px;
}
.award-card img{
    max-width: 100%;
    display: inline-block;
}

#feature{

}
.feature-header h2{
    text-align: center;
    padding-top: 37px;
    padding-bottom: 28px;
    font-size: 26px;
    color: #29293a;
    font-weight: 400;
}
.feature-wrapper{

}
.feature-wrapper a{

}
.feature-1{

}
.feature-1 img{
    display: block;
    max-width: 97%;
    border-radius: 2%;
    margin: auto;
}
.feature-1 p{
    padding-top: 10px;
    padding-left: 4px;
    font-size: 16px;
    color: #828590;
    padding-bottom: 8px;
}
.feature-1 h3{
    padding-top: 3px;
    padding-left: 4px;
    font-size: 16px;
    color: #1a9917;
    padding-bottom: 27px;
    font-weight: 500;
    line-height: 22px;
}
.c2a-3 a{
    display: inline-block;
    background: #42c63f;
    color: white;
    padding: 29px;
    font-weight: bold;
    padding-top: 17px;
    margin-left: 35px;
    font-size: 16px;
    padding-bottom: 17px;
    border-radius: 5px;
    margin-bottom: 45px;
}

#consultation{
    background: #29293a;
}
.consultation-wrapper{

}
.text-1 h3{
    color: white;
    text-align: center;
    line-height: 29px;
    font-weight: 500;
    padding: 9px;
    padding-top: 50px;
    font-size: 26px;
}
.text-2{
    text-align: center;
}
.text-2 a{
    display: inline-block;
    background: #42c63f;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    padding: 39px;
    padding-top: 20px;
    padding-bottom: 18px;
    margin-bottom: 50px;
}

#testimonail{
    background: #f3f3f9;
}
.testi-header h2{
    text-align: center;
    padding: 43px;
    font-size: 27px;
    font-weight: 500;
    color: #29293a;
}
.testi-body {
    padding-bottom: 10px;
}
.testi-wrapper{
    
    margin-left: 49px;
    margin-right: 3px;
    
}
.testicard{
    background: #29293a;
    margin: 22px 0px;
    border-radius: 5px;
}
.testicard-wrapper{
    display: flex;
}
.testi-image{

}
.testi-image img{
    border-radius: 50%;
    display: inline-block;
    max-width: 100px;
    box-shadow: white 0px 0px 0px 7px;
    position: relative;
    right: 33px;
    top: 36px;
}
.testi-text{
    padding-top: 54px;
    margin-left: -16px;
}
.testi-text h3{
    color: #42c63f;
    font-size: 18px;
    padding-bottom: 6px;
}
.testi-text p{
    color: #828590;
    font-size: 16px;
}
.testi-text-1 p{
    padding: 54px;
    padding-top: 23px;
    font-size: 15px;
    line-height: 24px;
    padding-right: 18px;
    color: #ffffff;
}

#contact{
    background: white;
}
.contact-header {
    padding-top: 40px;
}
.contact-header h3{
    padding: 10px;
    color: #29293a;
    font-size: 22px;
    font-weight: 400;
}
.contact-wrapper{

}
.form-wrapper{

}
.name-formset{

}
.name-formset label{
    font-size: 18px;
    padding-right: 5px;
    padding-left: 35px;
}
.name-formset input[type='text']{
    height: 22px;
    margin-bottom: 15px;
    margin-top: 13px;
}
.email-formset label{
    font-size: 18px;
    padding-right: 5px;
    padding-left: 35px;;
}
.email-formset input[type='email']{
    height: 22px;
    margin-bottom: 15px;
    margin-top: 13px;
}
.message-formset label{
    font-size: 18px;
    padding-right: 5px;
    padding-left: 35px;
    position: relative;
    bottom: 65px;
}
.message-formset textarea{
    height: 125px;
}
.submit {
    text-align: center;
}
.submit a{
    display: inline-block;
    background: #42c63f;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    padding: 11px;
    text-decoration: none;
    padding-right: 29px;
    padding-left: 30px;
    margin-top: 10px;
    margin-left: 51px;
}
.contact-info{
   padding: 10px;
}
.contact-info h2{
    color: #29293a;
    font-size: 22px;
    font-weight: 400;
    padding-top: 30px;  
}
.info-wrapper{

}
.info-1 {
    padding-top: 31px
}
.info-1 i{
    color: #c0c0d0;
    font-size: 40px;
}
.info-1 a{
    color: black;
    font-size: 23px;
    position: relative;
    bottom: 8px;
    right: 28px
}
.info-2 {
    padding-top: 31px;
    padding-bottom: 25px;
}
.info-2 i{
    color: #c0c0d0;
    font-size: 40px;
}
.info-2 a{
    text-decoration: none;
    font-size: 20px;
    position: relative;
    bottom: 8px;
    right: 32px;
    color: black;
}

#gallary{

}
.gallary-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.gallary-card{
    flex-basis: 43%;
    margin: 10px;
}
.gallary-card img{
    max-width: 100%;
    padding: 9px;
}

footer{
    background: #29293a;
}
.footer-wrapper{
    padding: 5px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footercard{
    flex-basis: 43%;
    margin: 15px 0px;
}

.footercard h3{
    color: #ffffff;
    font-size: 36px;
    padding-bottom: 8px;
} 
.footercard p{
    font-size: 17px;
    color: #aeb1be;
    line-height: 24px;
}
.footer-about {
    padding: 5px;
}
.footer-about h3{
    color: white;
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 20px;
}
.footer-about p{
    color: #aeb1be;
    font-size: 16px;
    line-height: 26px;
}
.footer-bottom {
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 38px;
}
.footer-bottom p{
    padding-top: 3px;
    color: #aeb1be;
    font-size: 14px;
}