body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#hero{
  background-image: url(../image/bg-image-1.jpg);
  background-position: 58% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.hero-text p{
    padding-top: 69px;
    color: #aeb1be;
    padding-bottom: 16px;
    font-weight: bold;
}


.hero-text h3{
    font-weight: 300;
    font-size: 28px;
    line-height: 25px;
    color: #29293a;
    padding-bottom: 25px;
}

.hero-wrapper-1{

}
.c2a-1 a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #42c63f;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
}
.c2a-2 a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #aeb1be;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}
.hero-wrapper-2 {
    display: flex;
    padding-bottom: 58px;
}
.font{
    margin: 3px;
}
.font a{

}
.font i{
    padding: 10px;
    display: block;
    font-size: 28px;
    background: #aeb1be;
    border-radius: 50%;
}


#services{

}
.section-header h2{
    text-align: center;
    padding-top: 41px;
    font-size: 28px;
    padding-bottom: 21px;
    color: #29293a;
}

.section-header p{
    padding: 7px;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    color: #5e5e63;
    margin-bottom: 63px;
}
.card-wrapper{

}
.card-wrapper-1{
    margin: 92px 4px;
    border: 1px solid #efeaea;
}
.icon-wrapper{
 text-align: center;
}
.icon-wrapper i{
    font-size: 51px;
    display: inline-block;
    color: white;
    background: #42c63f;
    padding: 17px;
    border-radius: 50%;
    position: relative;
    bottom: 41px;
    box-shadow: inset green 0px 0px 1px 3px;
    
}
.card-wrapper-1 h3{
    text-align: center;
    padding: 16px;
    color: #29293a;
}
.card-wrapper-1 p{
    font-size: 17px;
    text-align: center;
    line-height: 29px;
    font-weight: 300;
    color: #5e5e63;
    padding: 30px;
    padding-top: 5px;
}